@import url(normalize.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root{
    --title-ff:'Noto Sans KR', sans-serif;
    --body-fz:1rem;
    --line-height:27px;
    --primary-c:#e52c60;
    --secondary-c:#a6a4a4;
    --white:#fff;
    --body-tc:#595858;
    --title-tc:#403f3f;
    --con-width:1296px;
}

/*
typography
*/

body{
    font-family: var(--title-ff);
    font-size: var(--body-fz);
    line-height: var(--line-height);
    color: var(--body-tc);
    /* background: var(--secondary-c); */
}
h1,h2,h3,h4,h5{
    color: var(--title-tc);
}
.main_tt{
    font-size: calc(var(--body-fz)*2.25);
    font-weight: 700;
    line-height: calc(var(--line-height)*2);
    text-align: center;
}
.sub_tt{
    font-size: calc(var(--body-fz)*1.5);
    font-weight: 400;
    text-align: center;
}
.menu_txt{
    font-size: calc(var(--body-fz)*1.32);
    font-weight: 400;
    color: var(--body-tc);
}
/* .menu_txt:hover{
    font-weight: 700;
    color: var(--primary-c);
} */
.content_txt{
    font-size: calc(var(--body-fz)*1.125);
    color: var(--body-tc);
}
em{
    color: var(--primary-c);
}
.link{
    color: var(--primary-c);
    text-decoration: underline;
}
/*
color
*/
.primary_bg{
    background: var(--primary-c);
}
.secondary_bg{
    background: var(--secondary-c);
}
.dark_c_bg{
    background: var(--body-tc);
}
.w_color{
    color: var(--white);
}
.primary_color{
    color: var(--primary-c);
}
.secondary_color{
    color: var(--secondary-c);
}
.dark_text_color{
    color: var(--title-tc);
}
.light_text_color{
    color: var(--body-tc);
}
/*
buttons
*/
.btn{
    display: inline-block;
    font-size: var(--body-fz);
    border-radius: 20px;
    vertical-align: bottom;
}
.primary.btn{
    border:2px solid var(--white);
    height: 40px;
    line-height: 40px;
    font-family: var(--title-ff);
    font-weight: 700;
    padding: 0 20px;
    transition: 0.4s;
}
.primary.btn:hover{
    background: var(--primary-c);
}
.secondary.btn{
    border:2px solid var(--secondary-c);
    height: 40px;
    line-height: 40px;
    font-family: var(--title-ff);
    font-weight: 700;
    padding: 0 20px;
    transition: 0.4s;
}
.secondary.btn:hover{
    border-color: var(--body-tc);
    background: var(--body-tc);
    color: var(--white);
}
/* Layout */
.container{
    width: var(--con-width);
    margin:0 auto; 
}
.con_pd{
    padding: calc(var(--line-height)*3) 0;
}

/* Footer */
footer{
    background: var(--title-tc);
    padding: calc(var(--line-height)*2) 0;
    color: var(--white);
}
.footer{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.footer_left{
    display: flex;
}
.footer_left .footer_logo{
    background: url(../img/footer_logo.png) no-repeat center;
    width: 306px;
    height: 158px;
    display: block;
    text-indent: -9999em;
}
.footer_menu a{
    color: var(--white);
    margin: 0 10px;
    position: relative;
}
.footer_menu a:first-child{
    margin-left: 0;
}
.footer_menu a:after{
    content: '';
    width: 2px;
    height: 12px;
    background: var(--white);
    position: absolute;
    top: 50%; right: -10.5px;
    transform: translateY(-50%);
}
.footer_menu a:hover{
    text-decoration: underline;
    font-weight: 700;
}
.footer_copyright{
    font-size: 14px;
    color: #d2d2d2;
}
.footer_copyright .top{
    margin-bottom: var(--line-height);
}
.footer_left:after{
    content: '';
    width: 1px;
    height: 180px;
    background: var(--body-tc);
    position: absolute;
    right: 228px;
}
.footer_right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.footer_link{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.footer_link li{
    width: 54px;
    height: 54px;
    background: #f2f2f2;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.footer_link img{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
.footer_link i{
    color: var(--secondary-c);
    font-size: 30px;
    line-height: calc(var(--line-height)*2);
}
.footer_link li:hover i{
    color: var(--primary-c);
}
.familysite{
    position: relative;
}
.familysite button{
    width: 194px;
    height: 30px;
    border-radius: 3px;
    background: #f2f2f2;
    text-align: left;
    font-size: 14px;
    color: var(--body-tc);
}
.familysite i{
    position: absolute;
    color: var(--body-tc);
    font-size: 14px;
    right: 10px; top: 50%;
    transform: translateY(-40%);
}
.family_list li{
    height: 30px;
    background: var(--white);
    font-size: 14px;
    padding-left: 10px;
    display: none;
}
.family_list li a{
    color: var(--body-tc);
}

/* BTN */
.fixed{
    width: 81px;
    height: 81px;
    border-radius: 50%;
    border: 1px solid var(--secondary-c);
    font-size: 40px;
    color: var(--secondary-c);
    background: var(--white);
    position: fixed;
    right: 50px; bottom: 30px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.fixed.active{
    visibility: visible;
    opacity: 1;
}
.fixed.service_btn{
    background: var(--primary-c);
}
.fixed.service_btn img{
    width: 44px;
    height: 41px;
    fill: var(--white);
}
.fixed.go_top_btn{
    background:var(--white);
    bottom: 140px;
}
.fixed.go_top_btn a{
    color: var(--secondary-c);
}
.fixed.go_top_btn a:hover{
    color: var(--primary-c);
}

/* FORM */
form input{
    width: 350px;
    height: 54px;
    border:1px solid var(--secondary-c);
    color: var(--secondary-c);
}
form input:focus{
    border:1px solid var(--primary-c);
}
form button{
    width: 350px;
    height: 54px;
    line-height: calc(var(--line-height)*2);
    background: var(--primary-c);
    color: var(--white);
    text-align: center;
}

/* subpage main common */
.sub_page{
    background: #f2f2f2;
}
.sub_pd{
    padding: calc(var(--line-height)*2) 0;
}
.sub_page div > p{
    line-height: calc(var(--line-height)*2);
}

/* Header */
.main_menu li{
    width: 150px;
}