@import url(common.css);

/* Header */

header{
    position: fixed;
    z-index: 1000;
    left: 0;
    right:0;
    padding: 27px 0;
    height: 54px;
    transition: 0.3s ease-in;
    overflow: hidden;
}
header.shrink{
    background: var(--white);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    line-height: 54px;
    display: flex;
    gap: 50px;
}
header nav ul{
    display: flex;
    text-align: center;
}
header .top_links{
    display: flex;
    text-align: center;
}
header .top_links a{
    color: var(--white);
}
header nav ul li{
    position: relative;
}
header nav ul li .submenu{
    /* display: none; */
    position: absolute;
    top:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    padding: 15px 0; 
}
header nav ul li .submenu li{
    white-space: nowrap;
    font-weight: 400;
    font-size: calc(var(--body-fz)*1.125);
}
header nav ul li a{
    color: var(--white);
}
header nav .main_menu{
    font-weight: 700;
}
.top_links li+li{
    margin-left: 20px;
}
.logo a{
    width: 272px;
    height: 54px;
    background: url(../img/logo.png) no-repeat;
    display: block;
    text-indent: -9999em;
}
header.shrink .logo a{
    background: url(../img/logo_sticky.png) no-repeat;
}
header.shrink nav ul li a, header.shrink .top_links a{
    color: var(--body-tc);
}
/*
header.shrink nav ul li:hover a{
   color: var(--primary-c); 
} */
header.shrink nav .main_menu > li:after{
    content: '';
    position: absolute;
    width: 149px;
    height: 3px;
    background: var(--primary-c);
    left: 0;
    bottom: -15px;
    opacity: 0;
    transition: 0.4s;
}
header.shrink nav .main_menu > li:hover:after{
    opacity: 1;
}

/* Main Slide */

.main_slide{
    height:100vh;
}
.slide_wrapper{
    overflow: hidden;
    position: relative;
}
.slide_container{
    height:100%;
    /* position: absolute;
    left: 0;
    display: flex; */
}
.main_slide li{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
/* .main_slide li:after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    z-index: -1;
} */
/* .main_slide .slide1{
    background-image: url(../img/slide1.jpg);
}
.main_slide .slide2{
    background-image: url(../img/slide2.jpg);
}
.main_slide .slide3{
    background-image: url(../img/slide3.jpg);
} */
.main_slide li video{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.main_slide li div > *{
    color: var(--white);
}
.main_slide li div .slide_tt{
    font-size: calc(var(--body-fz)*3.375);
    font-weight: 700;
    line-height: calc(var(--line-height)*3);
}
.main_slide li div .main_tt{
    margin-bottom: var(--line-height);
}
.slide_container li .content{
    position: absolute;
    left:22%;
    bottom:260px;
}
.main_slide .controls a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 27px;
    height: 48px;
    background-repeat: no-repeat;
    text-indent: -9999em;
}
.main_slide .controls .prev{
    background: url(../img/prev.png);
    margin-left: -636px;
}
.main_slide .controls .next{
    background: url(../img/next.png);
    margin-left: 636px;
}
.indicator{
    position: absolute;
    bottom: var(--line-height);
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}
.indicator .pager{
    display: flex;
    gap: 20px;
}
.pager a{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--secondary-c);
    text-indent: -9999em;
    transition: 0.3s;
}
.pager a.active{
    width: 80px;
    border-radius: 12px;
    background: #5f5f5f;
}
.main_slide .bx-controls{
    position: absolute;
    left: 0;
    right: 0;
    bottom:30px;    
}
.main_slide .bx-controls .bx-pager{
    display: flex;
    justify-content: center;
    gap:30px;
}
.main_slide .bx-controls .bx-pager a{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--secondary-c);
    text-indent: -9999em;
    display: block;
}
.main_slide .bx-controls .bx-pager a.active{
    background: #5f5f5f;
    width: 80px;
    border-radius: 12px;
}

/* Brand & Products */

.bnp .sub_tt{
    margin-bottom: calc(var(--line-height)*2);
}
.bnp .product_list{
    display: flex;
    justify-content: center;
    gap:24px;
}
.bnp .product_list li{
    width: 413px;
    height: 433px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    overflow: hidden;
}
.bnp .product_list li span{
    position: absolute;
    font-size: calc(var(--body-fz)*1.5);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    z-index: 1;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.4s;
}
.bnp .product_list li a{
    width: 137px;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 50%; bottom: 50%;
    transform: translate(-50%,90%);
    opacity: 0;
    transition: 0.4s;
}
.bnp .product_list li img{
    width: 413px;
    height: 433px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 0.4s;
}
.bnp .product_list li:after{
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(0, 0, 0, .3);
    opacity: 0;
    transition: 0.4s;
}
.bnp .product_list li:hover img{
    transform: scale(1.2);
}
.bnp .product_list li:hover span, .bnp .product_list li:hover a, .bnp .product_list li:hover:after{
    opacity: 1;
}

/* ESG */
.esg{
    background: #f2f2f2;
}
.esg .sub_tt{
    margin-bottom: calc(var(--line-height)*2);
}
.esg_list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.esg_list li{
    width: 634px;
    height: 243px;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    position: relative;
    transition: 0.4s;
}
.esg_list li:nth-child(1){
    background: url(../img/content1.jpg);
}
.esg_list li:nth-child(2){
    background: url(../img/content2.jpg);
}
.esg_list li:nth-child(3){
    background: url(../img/content3.jpg);
}
.esg_list li:nth-child(4){
    background: url(../img/content4.jpg);
}
.esg_list li a{
    font-size: calc(var(--body-fz)*1.5);
    font-weight: 700;
    color: var(--white);
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.esg_list li a:after{
    content: '';
    width: 178px;
    height: 2px;
    background: var(--white);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
.esg_list li:hover{
    filter: grayscale(0);
}
.esg_list li:hover a:after{
    background: var(--primary-c);
}
/* R&D */
.rnd{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:24px;
    position: relative;
}
.rnd_text{
    width:305px; 
    position: relative;
}
.rnd_text h3, .rnd_text p{
    text-align: left;
}
.rnd_text .sub_tt{
    margin-bottom: var(--line-height);
}
.rnd_text:after{
    content: '';
    position: absolute;
    width: 305px;
    height: 2px;
    bottom: 40px;
    background: var(--secondary-c);
}
.rnd_text .rnd_controls{
    display: flex;
    justify-content: flex-end;
    gap:60px;
}
.rnd_text .rnd_controls a{
    width: 16px;
    height: 27px;
    display: inline-block;
    background-repeat: no-repeat;
    text-indent: -9999em;
}
.rnd_text .rnd_controls .prev{
    background-image: url(../img/con_prev.png);
}
.rnd_text .rnd_controls .next{
    background-image: url(../img/con_next.png);
}
.rnd_slide_wrapper{
    width: 965px;
    height:379px;
    overflow: hidden;
}
.rnd_slide_wrapper .rnd_slider{
    display: flex;
    /* gap: 24px; */
}
.rnd_slide_wrapper .rnd_slider div{
    width:305px;
    height: 379px;
    position: relative;
}
.rnd_slide_wrapper .rnd_slider div img{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
/* .rnd_slide_wrapper .slide_container li:nth-child(1){
    background: url(../img/rnd_con1.jpg);
}
.rnd_slide_wrapper .slide_container li:nth-child(2){
    background: url(../img/rnd_con2.jpg);
}
.rnd_slide_wrapper .slide_container li:nth-child(3){
    background: url(../img/rnd_con3.jpg);
}
.rnd_slide_wrapper .slide_container li:nth-child(4){
    background: url(../img/rnd_con4.jpg);
}
.rnd_slide_wrapper .slide_container li:nth-child(5){
    background: url(../img/rnd_con5.jpg);
}
.rnd_slide_wrapper .slide_container li:nth-child(6){
    background: url(../img/rnd_con6.jpg);
} */
.rnd_slide_wrapper .rnd_slider div a{
    position: absolute;
    width: 120px;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    opacity: 0;
    transition: 0.4s;
}
.rnd_slide_wrapper .rnd_slider div span{
    color: var(--white);
    font-size: calc(var(--body-fz)*1.5);
    font-weight: 700;
    text-align: right;
    text-shadow: 4px 1px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}
.rnd_slide_wrapper .rnd_slider div:before{
    content: '';
    width: 66px;
    height: 80px;
    background: var(--secondary-c);
    box-shadow: 4px 1px 5px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 20px;
    z-index: 3;
    transition: 0.4s;
}
.rnd_slide_wrapper .rnd_slider div:after{
    content: '';
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 0.4s;
}
.rnd_slide_wrapper .rnd_slider div:hover a{
    opacity: 1;
}
.rnd_slide_wrapper .rnd_slider div:hover:before{
    background:linear-gradient(-36deg, #e52c60 0% , #b63687 100%);
}
.rnd_slide_wrapper .rnd_slider div:hover:after{
    background: rgba(0, 0, 0, .1);
}

/* News & Media */
.newsnmedia{
    background: rgba(229, 44, 96, .1);
}
.newsnmedia h3{
    text-align: left;
    margin-bottom: var(--line-height);
}
.newsnmedia_con{
    display: flex;
    gap: 50px;
}
.newsnmedia_con .cf_container h4{
    font-weight: 700;
    text-align: left;
    margin-top: var(--line-height);
    margin-left: 30px;
}
.newsnmedia_con .cf_container p{
    margin-left: 30px;
    margin-bottom: var(--line-height);
}
.cf_container{
    width: 526px;
    height: 391px;
    background: var(--white);
    box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.4);
    position: relative;
}
.cf_container a{
    position: absolute;
    right: 30px; top: 27px;
    color: var(--primary-c);
    text-decoration: underline;
    font-weight: 700;
}
.video_wrapper{
    text-align: center;
    width: 453px;
    height: 253px;
    margin: 0 auto;
    position: relative;
}
.video_wrapper a i{
    color: var(--white);
    font-size: 54px;
}
.video_wrapper a{
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.video_wrapper:after{
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
}
.video{
    position: fixed;
    left: 0;right: 0;bottom: 0;top: 0;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition:0.3s;
    z-index: 100;
}
.video.active{
    opacity: 1;
    visibility: visible;
}
.news_container{
    position: relative;
}
.news_container h4{
    text-align: left;
    font-weight: 700;
}
.news_container > p{
    margin-bottom: var(--line-height);
}
.news_container > a{
    position: absolute;
    right: 0; top:18px;
    color: var(--primary-c);
    text-decoration: underline;
    font-weight: 700;
}
.news_content ul{
    display: flex;
    gap: 20px;
}
.news_content ul li{
    width: 224px;
}
.news_content ul li .caption{
    background: var(--white);
    padding: 10px 10px;
}
.caption .content_txt{
    font-weight: 700;
}
.caption a{
    color: var(--body-tc);
}
.news_content ul li:hover .caption a{
    text-decoration: underline;
}

/* Responsive */
