/* responsive */
@media (max-width:1320px){
    .container{
        width:100%;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .esg_list{
        gap: 16px;
    }
    .esg_list li{
        width: 47vw;
    }
    .rnd{
        padding: calc(var(--line-height)*3) 16px;
        gap: 0;
    }
    .rnd_slide_wrapper .rnd_slider div img{
        object-fit: cover;
        width: 100%;
    }
    .newsnmedia_con{
       gap:20px; 
    }
}
@media (max-width:1317px){
    .rnd{
        align-items: center;
        flex-direction: column;
    }
    .rnd_text{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column
    }
    .rnd_text:after,.rnd_text .rnd_controls{
        display: none;
    }
}
@media (max-width:1230px){
    header div{
        justify-content: flex-start;

    }
    header .top_links{
        position: absolute;
        right: 10px;
        cursor: pointer;
    }
    .top_links .mobile_icon{
        display: block;
    }
    .top_links .web_link{
        display: none;
    }
}
@media (max-width:1217px){
    .video_wrapper{
        width: 90%;
        margin-top: var(--line-height);
    }
    .video_wrapper img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width:1130px){
    header nav{
        display: none;
    }
    header > .container{
        justify-content: center;
    }
    header .toggle_menu_btn{
        display: block;
        position: absolute;
        left: 10px;
        cursor: pointer;
    }
}
@media (max-width:1110px){
    .newsnmedia_con .cf_container h4{
        margin-left: 16px;
    }
    .newsnmedia_con .cf_container p{
        margin: 0 16px;
    }
}
@media (max-width:1096px){
    
}
@media (max-width:1077px){
    .esg_list li{
        width: 49%;
        background-position: center;
    }
}
@media (max-width:847px){
    .esg_list{
        gap: 14px;
    }
}
@media (max-width:800px){

    .slide_container li .content{
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .main_slide li div .main_tt{
        width: 65vw;
    }
    .bnp .product_list{
        gap:16px;
        padding: 0 16px;
    }
    .bnp .product_list li{
        width: 246px;
        height: 258px;
    }
    .bnp .product_list li:after{
        display: none;
    }
    .bnp .product_list li span{
        /* display: none; */
        color: var(--body-tc);
        opacity: 1;
        bottom: 0;
    }
    .bnp .product_list li a{
        bottom: 80%;
        display: none;
    }
    .bnp .product_list li:hover img{
        transform: scale(1);
    }
    .esg .sub_tt{
        width: 72vw;
        margin-bottom: 0;
        margin:0 auto calc(var(--line-height)*2);
    }
    .rnd{
        justify-content: normal;
        gap: 16px;
        align-items: center;
        padding: calc(var(--line-height)*3) 16px 0;
    }
    .rnd_text{
        width:22%;
    }
    .rnd_slide_wrapper{
        width: 71%;
        height: 78%;
    }
    .rnd_slide_wrapper .rnd_slider div img{
        object-fit: cover;
        width: 100%;
        height: 78%;
    }
    .rnd_slide_wrapper .rnd_slider div:before,.rnd_slide_wrapper .rnd_slider div a{
        display: none;
    }
    .rnd_slide_wrapper .rnd_slider div span{
        text-align: left;
        top: 10px;
        left: 10px;
    }
    .rnd_slide_wrapper .rnd_slider div span em{
        color: var(--primary-c);
    }
    .rnd_text .sub_tt{
        display: none;
    }
    .rnd_text:after{
        /* top: 100%; */
        bottom: 0;
        width: 93vw;
        background: var(--primary-c);
    }
    .rnd_text .rnd_controls{
        position: absolute;
        top: 60px;
        right: 0;
    }
    .newsnmedia h3{
        text-align: center;
        margin-bottom: 0;
    }
    .newsnmedia .responsive_tt{
        display: block;
        margin:0 auto var(--line-height);
        width: 72vw;
    }
    .video_wrapper{
        width: 39vw;
        height: 41vw;
    }
    .video_wrapper img{
        width: 100%;
        height: 41vw;
        object-fit: cover;
    }
    .newsnmedia .container > .newsnmedia_con{
        display: none;
    }
    .newsnmedia .container .newsnmedia_con.responsive_con{
        display: block;
    }
    .news_content ul{
        gap: 16px;
        width: 79vw;
        overflow: hidden;
        margin: 0 auto;
    }
    .news_content ul li{
        width: 39vw;
    }
    .news_content .img_wrap{
        width: 39vw;
    }
    .news_content .img_wrap img{
        width: 100%;
        height: 41vw;
        object-fit: cover;
    }
    .news_content ul li .caption{
        padding: 5px 10px;
    }
    .footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .footer_left .footer_logo{
        background: url(../img/logo.png) no-repeat center;
        width: 272px;
        height: 54px;
    }
    .footer_left{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 35px;
    }
    .footer_left:after{
        display: none;
    }
    .footer_menu a{
        font-size: 14px;
    }
    .fixed{
        right: 30px;
        width: 60px;
        height: 60px;
    }
    .fixed.go_top_btn{
        bottom: 100px;
    }
    .fixed.go_top_btn i{
        line-height: 60px;
    }
    .fixed.service_btn img{
        margin-top: 10px;
    }

    /* bnp page */
    .brand_con ul{
        gap: 16px;
    }
    .brand_con ul li{
        width: 30vw;
    }
    .brand_con ul li img{
        left:50%;
        transform: translateX(-50%);
    }
    .brand_con .primary.btn{
        display: none;
    }
    .responsive_btn{
        display: block;
        margin-top: 10px;
    }

    /* sign page */
    .sub_page .login p{
        width: 72vw;
        margin: 0 auto;
        line-height: var(--line-height);
        padding-bottom: calc(var(--line-height)*2);
    }
    .login_form{
        flex-wrap: wrap;
    }
    form input,form button{
        width: 63vw;
    }
    .login_form:after{
        width: 63vw;
        height: 1px;
        bottom: 39%;
    }
    .signup .sub_tt{
        width: 72vw;
        margin: 0 auto;
        line-height: var(--line-height);
    }

    /* aside menu */
    aside{
        display: block;
        position: fixed;
        width: 70%;
        left:-70%;
        top: 0;
        bottom: 0;
        background: #fff;    
        z-index:-1;
        display: flex;
        flex-direction:column;
        /* overflow-y: auto; */
        box-sizing: border-box;
    }
    aside.active {
        left: 0;
    }
    aside header{
        display: flex;
        width: 70%;
        justify-content: space-between;
        padding: var(--line-height) 0;
        /* box-sizing: border-box; */
    }
    aside header:after{
        content: '';
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, .1);
        position: absolute;
        bottom: 0;
    }
    aside header .aside_logo a{
        width: 272px;
        height: 54px;
        background: url(../img/logo_sticky.png) no-repeat;
        margin-left: 10px;
        display: block;
        text-indent: -9999em;
    }
    aside header button{
        margin-right: 10px;
        font-size: calc(var(--body-fz)*1.32);
        color: var(--secondary-c);
    }
    aside main{
        margin-top: 108px;
        /* flex: 5; */
    }
    .toggle_menu li{
        line-height: calc(var(--line-height)*2);
        padding-left: 20px;
    }
    .toggle_menu > li{
        position: relative;
    }
    .toggle_menu > li span{
        position: absolute;
        right: 20px;
        line-height: calc(var(--line-height)*2);
    }
    .toggle_menu li .submenu{
        font-size: calc(var(--body-fz)*1.125);
    }
    .toggle_menu li .submenu li{
        line-height: 40px;
    }
    .toggle_menu li .submenu li a{
        color: var(--secondary-c);
    }
    .toggle_menu li .submenu li a.active{
        color: var(--body-tc);
    }
    .toggle_menu li .submenu li:before{
        content: '- ';
        color: var(--secondary-c);
    }
    .toggle_menu > li ul{
        display: none;
    }
    aside main a.aside_bottom{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* @media (max-width:746px){
    .esg_list li{
        width: 93vw;
        height: 40vw;
    }
} */
@media (max-width:494px){
    .logo a{
        width: 46vw;
        height: 9vw;
        background-size: cover;
    }
    header.shrink .logo a{
        width: 46vw;
        height: 9vw;
        background-size: cover;
    }
    .slide_container li .content{
        top: 40%;
    }
    .bnp .sub_tt{
        width: 76vw;
        margin: 0 auto calc(var(--line-height)*2);
    }
    /* .esg_list li{
        width: 93vw;
        height: 40vw;
    } */
    /* .news_content ul{
        flex-wrap: wrap;
        width: 63vw; 
    }
    .news_content ul li{
        width: 63vw;
        height: 67vw;
    }
    .news_content .img_wrap{
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */

    /* BNP */
    .tab_menu ul{
        gap: 10px;
    }
    .brand_con ul{
        gap: 10px;
    }
    .brand_con ul li{
        width: 44vw;
        height: 32vw;
    }
}