@import url(common.css);

/* Header */
header{
    position: absolute;
    left: 0;
    left: 0;
	right: 0;
	top: 0;
    z-index: 1000;
    padding: 27px 0;
    background: var(--white);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    height: 54px;
    transition: 0.3s ease-in;
    overflow: hidden;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    line-height: 54px;
    display: flex;
    gap: 50px;   
}
header nav ul{
    display: flex;
    text-align: center;
}
header .top_links{
    display: flex;
    text-align: center;
}
header nav ul li .submenu{
    /* display: none; */
    position: absolute;
    top:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    padding: 15px 0; 
}
header nav ul li .submenu li{
    white-space: nowrap;
    font-weight: 400;
    font-size: calc(var(--body-fz)*1.125);
}
header nav .main_menu li{
    position: relative;
}
header nav ul li a{
    color: var(--body-tc);
}
header nav .main_menu{
    font-weight: 700;
}
/* header nav .main_menu li:hover a{
    color: var(--primary-c);
} */
header nav .main_menu > li:after{
    content: '';
    position: absolute;
    width: 149px;
    height: 3px;
    background: var(--primary-c);
    left: 0;
    bottom: -15px;
    opacity: 0;
    transition: 0.4s;
}
header nav .main_menu > li:hover:after{
    opacity: 1;
}
.top_links li+li{
    margin-left: 20px;
}
.logo a{
    width: 272px;
    height: 54px;
    background: url(../img/logo_sticky.png) no-repeat;
    display: block;
    text-indent: -9999em;
}
header .toggle_menu_btn{
    display: none;
    color: var(--body-tc);
}
.top_links .mobile_icon{
    display: none;
}
.top_links a{
    color: var(--body-tc);
}
aside{
    display: none;
}

/* login page */
main{
    padding-top: calc(var(--line-height)*4);
}
.sub_page .login p{
    margin-bottom: var(--line-height);
}
.login{
    position: relative;
}
.login_form{
    display: flex;
    justify-content: center;
    gap: 101px;
}
.login_form:after{
    content: '';
    width: 1px;
    height: 270px;
    background: var(--secondary-c);
    position: absolute;
}

/* login form */
.login_wrap div{
    position: relative;
    margin-bottom: 10px;
}
.login_wrap div span{
    position: absolute;
    color: var(--secondary-c);
    font-size: 21px;
    line-height: calc(var(--line-height)*2);
    left: 20px;
}
.login_wrap div input{
    padding-left: 58px;
    box-sizing: border-box;
}
.login_wrap button{
    margin: 20px 0;
}
.login_find{
    display: flex;
    justify-content: space-between;
}
.login_find ul{
    display: flex;
    gap:41px;
    position: relative;
}
.login_find li:first-child:after{
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: var(--body-tc);
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
}
.login_find > a{
    font-weight: 700;
    color: var(--body-tc);
}
.login_find li a{
    color: var(--body-tc);
}
.login_right{
    text-align: center;
}
.login_right h3{
    font-weight: 700;
    margin-bottom: 30px;
}
.login_right ul li{
    width: 350px;
    height: 54px;
    margin-bottom: 10px;
}
.login_right ul li:nth-child(1){
    background: #f9e94a;
}
.login_right ul li:nth-child(2){
    background: #2ccf5b;
}
.login_right ul li:nth-child(3){
    background: #0b5caa;
}
.login_right ul li a{
    font-size: calc(var(--body-fz)*1.125);
    font-weight: 700;
    line-height: calc(var(--line-height)*2);
    color: var(--white);
}
.login_right ul li:nth-child(1) a{
    color: var(--body-tc);
}

/* signup page */
.signup .sub_tt{
    margin-bottom: var(--line-height);
    position: relative;
}
.signup .sub_tt:after{
    content: '';
    width: 415px;
    height: 1px;
    background: var(--secondary-c);
    position: absolute;
    left: 50%; bottom: -14px;
    transform: translateX(-50%);
}
.signup_form{
    width: 415px;
    margin: 0 auto;
    padding-top: 20px;
}
.signup_form p{
    margin-bottom: 20px;
}
.signup_form form input, .signup_form form button{
    width: 100%;
}
.signup_form p label{
    font-size: calc(var(--body-fz)*1.125);
    font-weight: 700;
}
.signup_form form input{
    margin-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}
.signup_form form button{
    margin-top: 40px;
    background: var(--body-tc);
}
span.error_input{
    color: var(--primary-c);
    font-weight: 700;
}